

 .meal{
	  list-style:none;
	  width:100%;
	  margin-bottom:100px;
  }
  .meal li{
	  display:block;
	  width:25%;
	  
  float:left;
  }
  .meal-image{
	  width:100%;
	  margin:0;
	  overflow:hidden;
	  
	  
  }
  .meal-image img{
	  width:auto;
	  height:250px;
	  transform:scale(1.15);
	  transition:transform 0.5s;
	  
	  
	  
  }
  .meal-image img:hover
  {
	  transform:scale(1.05);
  }
  .zoom{
	  margin-top:60px;
	  margin-bottom:60px;
	  background-attachment:none;
	  background-color:transparent;
	  width:100%;
	  margin-left:0px;
	  padding:0px;
	  float:left;
	  
	  
  }
  
  


.custom 
{ background-color:pink;
    min-height:40px;
    margin-top:10px;
    padding:10px;
    width:auto;
    text-align:center;
    opacity:0.8;
    font-weight:bold;

      }
   header {
      
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/food.jpg");
      background-size:cover;
      background-attachment:fixed;
      
      
    
    }
    header img{
        width:50px;
        height:50px;
    }
   body h1{
        font-weight:bold;
        color:white;
        text-align:center;
        margin-top:250px;
    }
   .btn-group
   {
       margin-left:550px;
       margin-bottom:150px;
   }
  .btn-group btn-group-lg{
   min-height:50px;
   margin-bottom:100px;
   
   }
   h2{
       color:greenyellow;
       text-align:center;
       margin-bottom:30px;
   }
   
   .custom:hover {
   color:blue;
   }
   h3{
       text-align:center;
    
      font-size:50px;
      font-weight:bold;
   }
   .thumbnail{
       height:250px;
      
   }
   
   section {
	   
       background-image:url("img/back.jpg");
       background-repeat:no-repeat;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/back.jpg");
      background-size:cover;
      background-attachment:fixed;
       margin-top:50px;
       font-size:15px;
       background-position:cover;
	   margin-bottom:50px;
       
       color:white;
   } 
   section p{
    font-size:15px;
   font-weight:bold;
   
   
   }
   cite img{
       width:100px;
       height:100px;
       border-radius:50%;
   }
   
   section h5{
       padding-top:30px;
       font-family:sans-serif;
       font-size:30px;
       margin-top:20px;
       margin-bottom:30px;
   }
   cite i{
       margin-left:120px;
   }
 